{{template "base" .}}

{{define "title"}}Create GoToDo Item{{end}}

{{define "body"}}
<div class="container py-3">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form action="/todoitems/create-todo-item" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Item Description</label>
                    <input name='itemdescription' type="text" class="form-control" id="todoItemDescription" placeholder="Enter To Do Item Description">                    
                </div>
                <button type="submit" class="btn btn-primary todo-form-space">Submit</button>
                <button type="" class="btn btn-danger todo-form-space">Cancel</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{{end}}